<div class="card flex justify-content-center">
    <p-button  (click)="openDialog()" icon="pi pi-pencil"
               styleClass="p-button-secondary"></p-button>

    <p-dialog header="Kunde aktualisieren" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }"
              [draggable]="false" [resizable]="false" (onHide)="closeDialog()">
      <form [formGroup]="createForm" [class.validation-submitted]="submitted">
        <div class="mb-4">
            <label for="name" class="block text-900 font-medium mb-2">Kunde</label>
            <input id="name" formControlName="name" type="text" placeholder="Name" pInputText pAutoFocus [autofocus]="true" class="w-full">

            <div style="position: relative">
              <small class="p-error" style="position: absolute" *ngIf="name.hasError('required') && submitted">Name ist erforderlich</small>
            </div>
          </div>
        <div class="mb-4">
            <label class="block text-900 font-medium mb-2">Aktuelles Kundenbild</label>
            <div *ngIf="this.company.image_url" class="company-logo-preview">
              <img [src]="this.company.image_url" alt="Default Image">
            </div>
        </div>

        <div class="mb-4">
            <label class="block text-900 font-medium mb-2">Neues Kundenbild</label>
            <p-fileUpload
                #fileUpload
                name="image"
                accept="image/*"
                (onSelect)="onFileSelected($event)"
                chooseLabel="Datei auswählen"
                auto="true"
                class="w-full">
            </p-fileUpload>

            <div style="position: relative">
              <small class="p-error" style="position: absolute" *ngIf="image.hasError('required') && submitted">Kundenbild ist erforderlich</small>
            </div>
          </div>

        <div class="flex justify-content-end">
          <p-button  (click)="submit()" pRipple label="Aktualisieren" [loading]="loading" icon="pi pi-save"
                     styleClass="p-button-primary"></p-button>
        </div>

      </form>
    </p-dialog>
  </div>
