<div class="notification-form-row form-control-group" [formGroup]="formGroup" [class.validation-submitted]="submitted">
  <p-inputSwitch [styleClass]="'mt-1'" formControlName="activated"/>
  <div class="notification-form-field">
    <input type="text" pInputText formControlName="email" placeholder="E-Mail-Adresse"/>
    <small *ngIf="email.errors && submitted" class="p-error">Ungültige E-Mail-Adresse.</small>
  </div>
  <p-button styleClass="notification-save-button" label="Änderungen speichern" [disabled]="!formChanges()" [loading]="loading"
            (click)="update()"/>
</div>
