<div class="app-shell">
  <p-megaMenu [model]="items" orientation="vertical" styleClass="admin-menu">
    <ng-template pTemplate="start">
      <div class="app-shell-brand">
        <img src="assets/images/planwise-logo.svg" alt="PlanWise Logo"/>
      </div>
      <div class="app-shell-faculty">
        <h2 class="m-0 mb-3">{{authService.user.faculty.name}}</h2>
      </div>
    </ng-template>
  </p-megaMenu>

  <div class="page-content">
    <!--    <p-card>-->
    <router-outlet></router-outlet>
    <!--    </p-card>-->
  </div>
</div>
